@font-face {
	font-family: "Flaticon";
	src: url("../fonts/FlaticonDownload/flaticon.eot");
	src: url("../fonts/FlaticonDownload/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/FlaticonDownload/flaticon.woff") format("woff"),
	url("../fonts/FlaticonDownload/flaticon.ttf") format("truetype"),
	url("../fonts/FlaticonDownload/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}.flaticon-airplane:before {
     content: "\e000";
 }
.flaticon-airplane2:before {
    content: "\e001";
}
.flaticon-baby2:before {
    content: "\e002";
}
.flaticon-beach5:before {
    content: "\e003";
}
.flaticon-bigben:before {
    content: "\e004";
}
.flaticon-binary7:before {
    content: "\e005";
}
.flaticon-black401:before {
    content: "\e006";
}
.flaticon-cactus:before {
    content: "\e007";
}
.flaticon-cat51:before {
    content: "\e008";
}
.flaticon-cupid:before {
    content: "\e009";
}
.flaticon-diamond30:before {
    content: "\e00a";
}
.flaticon-elderly:before {
    content: "\e00b";
}
.flaticon-female208:before {
    content: "\e00c";
}
.flaticon-football35:before {
    content: "\e00d";
}
.flaticon-gift41:before {
    content: "\e00e";
}
.flaticon-graduation22:before {
    content: "\e00f";
}
.flaticon-grapes7:before {
    content: "\e010";
}
.flaticon-heart219:before {
    content: "\e011";
}
.flaticon-homework:before {
    content: "\e012";
}
.flaticon-international12:before {
    content: "\e013";
}
.flaticon-italy:before {
    content: "\e014";
}
.flaticon-mountain13:before {
    content: "\e015";
}
.flaticon-paris8:before {
    content: "\e016";
}
.flaticon-parrot:before {
    content: "\e017";
}
.flaticon-parthenon:before {
    content: "\e018";
}
.flaticon-sideview:before {
    content: "\e019";
}
.flaticon-snow44:before {
    content: "\e01a";
}
.flaticon-stars4:before {
    content: "\e01b";
}
.flaticon-stripy:before {
    content: "\e01c";
}
.flaticon-sun42:before {
    content: "\e01d";
}
.flaticon-surgeon1:before {
    content: "\e01e";
}
.flaticon-task:before {
    content: "\e01f";
}
.flaticon-tent8:before {
    content: "\e020";
}
.flaticon-tree119:before {
    content: "\e021";
}
.flaticon-web40:before {
    content: "\e022";
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after, .glyphicon {
    margin-left: 0px;
    font-size: 1.8em;
}

[class^="flaticon-"].medium:before,
[class*=" flaticon-"].medium:before,
[class^="flaticon-"].medium:after,
[class*=" flaticon-"].medium:after{
    font-size: 2em;
}

[class^="flaticon-"].red{
    color:#f25761;
}
[class^="flaticon-"].orange{
    color:#F9A741;
}
[class^="flaticon-"].green{
    color:#27ae60;
}
[class^="flaticon-"].black{
    color:rgba(70,72,74,0.9);
}
