<div class="row">
    <div class="col-md-12 text-center">
        <h1>Ester <img src="../images/final/rings.svg"  width="45px" height="32px">  Javi</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
            <img src="../images/final/bike_frame.svg" alt="Fotos" id="bike_foto" class="tossing">
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <img src="../images/final/date.svg" alt="Fecha" id="date_banner">
    </div>
</div>

