<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">¿Dónde dormir? &nbsp;&nbsp;&nbsp;<img src="images/final/dont_disturb.svg" alt="Alojamiento" width="40px"></h2>
        <h3>Casa Soulere</h3>
        <p>Mansión de más de 400 años de antigüedad en Les Voltes de Riudecols. 22 plazas reservadas para los invitados a la boda. El precio es de 46€ por persona e incluye la opción de quedarse el Viernes por la noche, piscina y barbacoa.</p>
        <p><a href="http://www.homeaway.es/p1003467" target="_blank" class ="girls">http://www.homeaway.es/p1003467</a></p>
        <h3>Les Velles Escoles</h3>
        <p>Hotel rural en Les Irles de Riudecols. 33 plazas reservadas para los invitados a la boda. El precio es de 35€ por persona e incluye el desayuno.</p>
        <p> <a href="http://www.vellesescoles.com" target="_blank" class ="girls">http://www.vellesescoles.com</a></p>

    </div>
</div>

