<div class="row">
    <div class="col-md-12 text-center">
        <h2>¡Compartid con nosotros esta aventura!</h2>
        <p class="main-content">
            <h3>Subidlas a Instagram con el hashtag</h3><br>
            <a><img id="instagram-icon" src="images/final/instagram.svg"> &nbsp;<span class="girls big">#esteryjavi</span></a>
        </p>
        <p><span id="icon-instagram-down" class="glyphicon glyphicon-chevron-down"></span></p>

        <div style="margin:0 auto;width:{{carousel.width}}">
            <carousel disable-ng-animate interval="carousel.interval">
                <slide ng-repeat="group in carousel.slidesGroups" active="slide.active" style="clear: both;">
                    <div  style="float:left" ng-repeat="slide in group">
                        <img ng-src="{{ slide.images.low_resolution.url }}" src="" alt="">
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>
