<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">¿Cómo llegar? &nbsp;<img id="sign" src="images/final/sign.svg" alt="Cómo llegar"></h2>
        <h3><img id="bus" src="images/final/bus.svg" alt="Cómo llegar">&nbsp;&nbsp;En Autocar</h3>
        <p>Un autocar saldrá desde Viladecans y Gavà. Más información en breve.</p>
        <h3>En coche&nbsp;&nbsp;<img id="car" src="images/final/car.svg" alt="Cómo llegar"></h3>
        <p><strong>¡No utiliceis GPS!</strong> Os llevará por unos bonitos caminos de cabras :)</p>
        <p>L'Avellana se encuentra en el término municipal de Riudecols. Un vez llegados al semáforo que hay a la entrada del pueblo, girad a la derecha y seguid la señalización "L'Avellana mas d'en Cabre".</p>
    </div>
</div>
